asgiref==3.11.1
colorama==0.4.6
Django==6.0.6
django-cors-headers==4.9.0
django-extensions==4.1
django-formtools==2.6.1
django-otp==1.7.0
django-phonenumber-field==8.4.0
django-two-factor-auth==1.18.1
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.15
inflection==0.5.1
packaging==26.2
pillow==12.2.0
psycopg2-binary==2.9.12
PyJWT==2.12.1
python-decouple==3.8
python-dotenv==1.2.2
pytz==2026.2
PyYAML==6.0.3
qrcode==8.2
sqlparse==0.5.5
tzdata==2026.2
uritemplate==4.2.0
